<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:fragment="page-stylesheets">
    <link rel="stylesheet" href="/css/tokens.css" />
    <link rel="stylesheet" href="/css/base.css" />

    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/stage.css" />

    <link rel="stylesheet" href="/css/chat-card.css" />
    <link rel="stylesheet" href="/css/chat-prechat.css" />
    <link rel="stylesheet" href="/css/chat-conversation.css" />

    <link rel="stylesheet" href="/css/buttons.css" />
    <link rel="stylesheet" href="/css/footer.css" />

    <link rel="stylesheet" href="/css/responsive-chat.css" />

    <link rel="stylesheet" href="/css/header-extras.css" />
    <link rel="stylesheet" href="/css/modals.css" />
    <link rel="stylesheet" href="/css/forms.css" />
    <link rel="stylesheet" href="/css/appointments.css" />
    <link rel="stylesheet" href="/css/inline-auth.css" />
    <link rel="stylesheet" href="/css/toast.css" />

    <link rel="stylesheet" href="/css/responsive.css" />
  </th:block>
</head>
</html>
